node_modules/
.env

docs/node_modules/
docs/.vscode/
docs/yarn.lock
docs/.astro


# build output
docs/dist/
# generated types
docs/.astro/

# dependencies
docs/node_modules/

# logs
docs/npm-debug.log*
docs/yarn-debug.log*
docs/yarn-error.log*
docs/pnpm-debug.log*


cloudflare/.wrangler/
cloudflare/node_modules/
cloudflare/site/.astro/
cloudflare/site/dist/
cloudflare/site/node_modules/
cloudflare/site/yarn.lock
cloudflare/site/package-lock.json
cloudflare/site/package.json
cloudflare/site/readme.md
cloudflare/site/test.js
cloudflare/site/test.js



# environment variables
docs/.env
docs/.env.production

# macOS-specific files
docs/.DS_Store
.DS_Store